/* Styles to Root pseudo-element and variables */
:root {
    font: 10px/1.5 Helvetica, Arial, sans-serif;
    --main-bg-color: rgb(216, 94, 24);
    --contrast-text: white;
}
/* Style for section class="header" */
.header {
    padding: 2rem;
    background-color: var(--main-bg-color);
    color: var(--contrast-text);
    display: flex;
    flex-wrap: wrap;
    
}

/* Style for <h1> in class='header' */

.header h1 {
    flex: 1;
    justify-content: flex-start;
    font-size: 4.5rem;
}

/* Style for the header section */

.header section {
    padding-top: 1.5rem;
    margin-right: 2rem;
    font-size: 2rem;
}
/* Styles for links in nav bar */
.header section ul {
    list-style-type: none;
}
.header section ul li {
    flex: 1;
    display: inline-block;
    margin-left: 25px;
    background-color: var(--main-bg-color);
    justify-content: flex-end;
}
.header a:link, a:visited {
    color: var(--contrast-text);
    text-align: center;
    text-decoration: none;
}
.header a:hover, a:active {
    background-color: var(--contrast-text);
    color: var(--main-bg-color);
    text-align: center;
    text-decoration: underline;
}

/* Style for image after nav bar */

.background-pic {
    max-width: 100%;
}

/* Styles for About me section */

#about-me {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    border: 1rem dashed var(--main-bg-color);
    border-top: 1rem solid var(--main-bg-color);
}
/* Style for image */
#about-me img{
    flex: 1;
    padding: 1rem;
    max-height: 300px;
    align-self: center;
    min-height: 300px;
    max-width: 225px;
}
 article div {
    flex: 1;

 }
/* Style for heading */
article h2 {
    flex: 1;
    font-size: 3rem;
    display: block;
    text-align: center;
}
/* Style for text */
#about-me p {
    font-size: 1.5rem;
    flex: 1;
    flex-wrap: wrap;
    padding-left: .5rem;
    padding-bottom: .5rem;
}

/* Style for My Projects section */

/* Style for Large Image in Project section */
.feature {
    max-width: 90%;
    min-height: 240px;
    flex: 1;
}
/* Style for pop up */
.tooltip:hover {
    border-left: 1rem dashed var(--main-bg-color);
    border-right: 1rem dashed var(--main-bg-color);
    background-color: var(--contrast-text);
}
.tooltip:hover .popup1 {
    display: unset;
}
.tooltip {
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
    position: relative;
    align-items: center;
}
.tooltip .popup1 {
    display: none;
    font-size: 3rem;
    border-radius: 6px;
    padding: 3px 5px 3px 5px;
    position: absolute;
    top: 8%;
    left: 3%;
    color: var(--contrast-text);
    background-color: var(--main-bg-color);
    opacity: 80%;
    z-index: 1;
}
/* Project section */
.projects {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}
.projects img {
    max-width: 100%;
}
.projects a {
    position: relative;
}
.projects a:hover {
    border: 1rem dashed var(--main-bg-color);
    background-color: var(--contrast-text);
}
.projects a .popup2 {
    display: none;
    font-size: 2rem;
    border-radius: 6px;
    padding: 3px 5px 3px 5px;
    position: absolute;
    top: 8%;
    left: 3%;
    color: var(--contrast-text);
    background-color: var(--main-bg-color);
    opacity: 80%;
    z-index: 1;
}
.projects a:hover .popup2 {
    display: unset;
}